html,
body,
#root,
#root main {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
}
